@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #18181b;
  color: var(--foreground);
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

.text-line {
  display: inline-block;
  white-space: nowrap;
}

html {
  scroll-behavior: smooth;
}

section {
  text-align: center;
}
